.app-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* 可选：降低背景亮度，让前景更清晰 */
    opacity: 0.8;
    z-index: -1;
  }
  
  .app-content {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    width: 100%;
  }